.flex-container {
    display: flex;
    margin: 100;
    background-color: aliceblue;
    flex-direction: column;
}

.flex-container2 {
    display: flex;
    margin: 20;
    background-color: blue;
    flex-direction: column;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
