.flex-container {
    display: flex;
    margin: 20px;
    background-color: blue;
    flex-direction: column;
}

.nav_bar {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 200);
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    margin: 20;
    background-color: blue;
    flex-direction: column;
}
.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}
